In [2]:
##Q.1
# (i)String
var_string = "Hello, World!"

In [4]:
# (ii) List
var_list = [1, 2, 3, 4, 5]

In [5]:
# (iii) Float
var_float = 3.14

In [6]:
# (iv) Tuple
var_tuple = (1, 2, 3)

In [7]:
#Q. 2
#(i) 
var1 = ‘ ‘ # This is a string.
#(ii) 
var2 = ‘[ DS , ML , Python]’ # This is also a string. 
#(iii) 
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] # This is a list containing strings.
#(iv) 
var4 = 1.5 # This is a float.

In [8]:
#Q. 3
#(i) / - This is the division operator. It returns the quotient of the division. For example, 10 / 2 would return 5.0.
#(ii) % - This is the modulus operator. It returns the remainder of the division. For example, 10 % 3 would return 1.
#(iii) // - This is the floor division operator. It returns the largest possible integer from the division. For example, 10 // 3 would return 3.
#(iv) ** - This is the exponentiation operator. It raises the number to the power of another number. For example, 2 ** 3 would return 8.

In [9]:
#Q. 4
my_list = [1, "two", 3.0, (4, 5), [6, 7], 8, "nine", 10.0, (11, 12), 13]

for element in my_list:
   		 print(element, type(element))

1 <class 'int'>
two <class 'str'>
3.0 <class 'float'>
(4, 5) <class 'tuple'>
[6, 7] <class 'list'>
8 <class 'int'>
nine <class 'str'>
10.0 <class 'float'>
(11, 12) <class 'tuple'>
13 <class 'int'>

In [11]:
#Q.5
A = 20
B = 4
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

In [12]:
#Q.6 
my_list = list(range(1, 26))

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
#Q.7 

#Mutable data types are those which can be changed after they are created. Lists and dictionaries are examples of mutable data types. For example, you can add, remove, or change elements in a list after it's created.

#Immutable data types are those which cannot be changed after they are created. Strings and tuples are examples of immutable data types. For example, once a string is created, you cannot change its characters. You can only create a new string with the desired charact